#remote_theme: pages-themes/hacker@v0.2.0
remote_theme: "mmistakes/minimal-mistakes@4.27.3" # https://github.com/mmistakes/minimal-mistakes

plugins:
  - jekyll-remote-theme
  # - jekyll-feed
  - jekyll-include-cache
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-archives
  - flickr

whitelist:
  - jekyll-remote-theme
  # - jekyll-feed
  - jekyll-include-cache
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-gist
  - flickr

title: Robert de Veen.com
subtitle: Version 2025.11
description: Blogs and photos from Robert de Veen.
name: Robert de Veen
baseurl: "" # the subpath of your site, e.g. /blog
url: https://www.robertdeveen.com
# twitter_username: rdeveen
github_username: rdeveen

# Build settings
minimal_mistakes_skin: "dark" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
words_per_minute: 200
repository: rdeveen/rdeveen.github.io
logo: "assets/images/Handtekening-R-Black-version2021.png"

#paginate: 5 # Old paginate v1 setting
paginate_path: "/blogs/:num/" # Old paginate v1 settings, but used in mmistakes/minimal-mistakes /_includes/paginator.html
pagination:
  enabled: true
  per_page: 4
  sort_reverse: true
  permalink: "/blogs/:num/"

comments:
  provider: "giscus" # false (default), "disqus", "discourse", "facebook", "staticman", "staticman_v2", "utterances", "giscus", "custom"
  giscus:
    repo_id: "R_kgDOI5Q97A" # Shown during giscus setup at https://giscus.app
    category_name: "Comments" # Full text name of the category
    category_id: "DIC_kwDOI5Q97M4CXdZX" # Shown during giscus setup at https://giscus.app
    discussion_term: "title" # "pathname" (default), "url", "title", "og:title"
    reactions_enabled: '1' # '1' for enabled (default), '0' for disabled
    theme: "dark" # "light" (default), "dark", "dark_dimmed", "transparent_dark", "preferred_color_scheme"

# atom_feed:
#   hide: true

# twitter:
#   username: rdeveen

analytics:
  provider: google-gtag # false (default), "google", "google-universal", "google-gtag", "custom"
  google:
    tracking_id: G-DFK4D43GS7
    anonymize_ip: true

# google_analytics: G-DFK4D43GS7

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

defaults:
  # _posts
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "single"
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
      show_date: true
  - scope:
      path: ""
      type: "albums" # see: collections
    values:
      layout: "album"
      author_profile: true 
      comments: true
      share: true
      show_date: true

# Site Author
author:
  name: Robert de Veen
  avatar: "/assets/images/Robert-de-Veen-2022-Square.webp"
  location: "The Netherlands"
  links:
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   url: "https://twitter.com/rdeveen"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/rdeveen/"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://www.robertdeveen.com"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/rdeveen"
  # avatar: # path of avatar image, e.g. "/assets/images/bio-photo.jpg"
  # bio: "I am an **amazing** person."
  # location: "The Netherlands"
  # email:
  # links:
  #   - label: "Email"
  #     icon: "fas fa-fw fa-envelope-square"
  #     url: "mailto:your.name@email.com"
  #   - label: "Website"
  #     icon: "fas fa-fw fa-link"
  #     url: "https://your-website.com"
  #   - label: "Twitter"
  #     icon: "fab fa-fw fa-twitter-square"
  #     url: "https://twitter.com/"
  #   - label: "Facebook"
  #     icon: "fab fa-fw fa-facebook-square"
  #     url: "https://facebook.com/"
  #   - label: "GitHub"
  #     icon: "fab fa-fw fa-github"
  #     url: "https://github.com/"
  #   - label: "Instagram"
  #     icon: "fab fa-fw fa-instagram"
  #     url: "https://instagram.com/"

# Site Footer
footer:
  links:
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   url: https://twitter.com/rdeveen
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/rdeveen"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/rdeveen/"

# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path>/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path>/my-awesome-category/index.html ~> path: /
category_archive:
  type: jekyll-archives
  path: /categories/
tag_archive:
  type: jekyll-archives
  path: /tags/

# https://github.com/jekyll/jekyll-archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/

collections:
  albums:
    output: true
    permalink: /albums/:name/
 
flickr:
  screen_name: "Robert de Veen"
  api_key: d7658c0a97f18556e5ef93fbc2fa8ec1
  api_secret: 1a0cf2794fd72fdf
  use_cache: true
  cache_dir: _flickr_cache
  size_thumb: Medium
  size_full: Large 1600
  generate_posts: false
  generate_frontmatter:
    - layout: photo
    - author: Robert de Veen
  generate_photosets:
    - Rome
    - Aapjes kijken
    - Vogelvlucht
    - Fallow Deers
    - Common kingfisher

gist:
  # By default, Jekyll Gist will make an HTTP call per Gist to retrieve the raw content of the Gist. 
  noscript: false # default: true

sass:
  quiet_deps: true    # Disable printing deprecation warnings to terminal