---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
  font-family: "JungleMan";
  src: url("/assets/fonts/JungleMan-Regulair.otf");
  font-weight: normal;
}

.site-title {
  font-family: "JungleMan";
  font-size: 2.5em !important;
  font-weight: normal !important;
  line-height: 0.5em !important;
  filter: drop-shadow(16px 16px 16px black);
}

h1,
h2,
h3,
h4,
h5,
h6 { 
  font-weight: lighter !important;
}

h1 { 
  font-size: 3em !important;
  font-family: "JungleMan" !important;
  filter: drop-shadow(16px 16px 16px black);
}

h1 a, h2 a{
  text-decoration: none !important;
}
 
.page__related-title {
  font-size: 2em !important;
  font-family: "JungleMan" !important;
  filter: drop-shadow(16px 16px 16px black);
}

.site-logo {
  border: 1px solid #51555d;
  padding: 5px;  
  margin-right: 1rem !important;
}

.page, .archive {
  padding-right: 0px !important;
}

$caption-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
 
#gallery {
  column-count: 3;
  column-gap: 20px;
}

#gallery > a > img {
  width: 100%;
  height: auto;
  margin: 4% auto;
  box-shadow: -3px 5px 15px #000;
  cursor: pointer;
  transition: all 0.2s;
}

@media (max-width:1200px) {
  #gallery {
    column-count: 2;
    column-gap: 20px;
  }
}

@media (max-width:800px) {
  #gallery {
    column-count: 1;
    column-gap: 20px;
  }
}
